;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
background = #333333
foreground = #5294E2
background-alt = #2A2B2D
foreground-alt = #3F74B6
text = #1E1F29


[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1
[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar2]
inherit = bar/barbase
modules-left = workspace2
[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar3]
inherit = bar/barbase
modules-left = workspace3
[module/workspace3]
type = custom/script
exec = leftwm-state -w 3 -t $SCRIPTPATH/template.liquid
tail = true


[bar/barbase]
width = ${env:width}
offset-x = ${env:offsetx}
monitor = ${env:monitor}
;offset-y = ${env:y}
;width = 90%
height = 36
fixed-center = true
bottom = true
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 3
line-color = #f00
border-size = 0
border-color = #00000000
padding-left = 0
padding-right = 2
module-margin-left = 0
module-margin-right = 0
font-0 = Noto Sans:size=12;1
font-1 = FontAwesome:size=12;1
font-2 = JetBrainsMono Nerd Font:size=10

modules-center = xwindow
modules-right = arch-updates aur-updates eth mem cpu date
tray-position = right
tray-padding = 2
cursor-click = pointer
cursor-scroll = ns-resize

[module/ewmh]
type = internal/xworkspaces
label-active = " %icon% %name%  "
label-active-foreground = ${colors.foreground-alt}
label-active-background = ${colors.background-alt}
label-active-underline = ${colors.primary}
label-occupied = " %icon% %name%  "
label-occupied-underline = ${colors.secondary}
label-urgent = " %icon% %name%  "
label-urgent-foreground = ${colors.foreground}
label-urgent-background = ${colors.background}
label-urgent-underline  = ${colors.alert}
label-empty = " %icon% %name%  "
label-empty-foreground = ${colors.foreground}


[module/xwindow]
type = internal/xwindow
label = %title:0:30:...%

[module/eth]
type = internal/network
interface = enp5s0
interval = 3.0

label-connected = "  %upspeed%  %downspeed% "
label-connected-foreground = ${colors.text}
label-connected-background = #2F5789
speed-unit = Bit/s


[module/cpu]
type = internal/cpu
interval = 0.5
label = %percentage%%
;format = <label> 
format-prefix = " "
format-foreground = ${colors.text}
format-background = #396BA7
label-foreground = ${colors.text}
label-background = #396BA7
label-padding = 2
;format-padding = 2
 
[module/arch-updates]
type = custom/script
exec = ~/.config/leftwm/themes/current/scripts/check-arch-updates.sh
interval = 100
label = "  %output% "
format-foreground = ${colors.text}
format-background = #2A4E7A
click-left = alacritty -e sudo pacman -Syu
click-right = pamac-manager --updates

[module/aur-updates]
type = custom/script
exec = ~/.config/leftwm/themes/current/scripts/check-aur-updates.sh
interval = 1000
label = %output%
format-foreground = ${colors.text}
format-background = #2A4E7A
;format-prefix-foreground = ${color.foreground}
click-left = alacritty -e sudo yay -Sua

[module/mem]
type = internal/memory
interval = 2
label = " %percentage_used:2%% "
format = <label>
label-foreground = ${colors.text}
label-background = #346198
format-prefix = " "
format-foreground = ${colors.text}
format-background = #346198
format-padding = 0 
format-prefix-padding = 1 


[module/date]
type = internal/date
;date =    %%{F#99}%m/%d/%Y%%{F-}  %%{F#fff}%I:%M %p%{F-}
;date-alt = %%{F#fff}%A, %B %d, %Y  %%{F#fff}%I:%M:%{F#666}%%{F#fba922}%S%%{F-} %p
interval = 5
date =
date-alt = " %m-%d-%Y"
time = "%I:%M %p "
time-alt = %H:%M:%S
;format-prefix = 
;format-prefix-foreground = ${colors.foreground-alt}
;format-underline = #0a6cf5
label = %date% %time%
label-foreground = ${colors.text}
label-background = ${colors.foreground}

[module/filesystem]
type = internal/fs
; Mountpoints to display
mount-0 = /
mount-1 = /home
interval = 30
; Display fixed precision values
; Default: false
fixed-values = true
; Spacing (number of spaces, pixels, points) between entries
; Default: 2
spacing = 4
; Default: 90
; New in version 3.6.0
warn-percentage = 75
label-mounted = %mountpoint%: %percentage_free%% of %total%

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

;[global/wm]
;margin-top = 5
;margin-bottom = 5

; vim:ft=dosini
